<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
    <h1>Info page</h1>
    <p>Welcome to the profile of <%= person %></p>
    <p>Age: <%= data.age %></p>
    <p>Location: <%= data.location %></p>
</body>
</html>